<div class="container-fluid">
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless display table-data3" id="PortalStoreDatatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Vendedor</th>

                            <th>Categoria</th>
                            <th>Estado</th>


                            <th class="text-center">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each solicitudes }}
                        <tr>
                            <td>{{ nombre }}</td>
                            <td>{{ fecha }}</td>

                            <td>{{ vendedor }}</td>
                            <td>{{ categoria }}</td>
                            <td class="{{colorStatus id_estado}}">{{ estado }}</td>

                            <td class="">
                                <button class="btn btn-warning bn-sm" data-toggle="modal"
                                    data-target="#solicitud{{ id }}">Modificar</button>
                            </td>
                        </tr>
                        {{/each}}


                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>

</div>