<main class="main">
    <div class="info-boxes-container">
        <div class="container">
            <div class="info-box">
                <i class="icon-shipping"></i>

                <div class="info-box-content">
                    <h4>ENVÍO Y DEVOLUCIÓN GRATUITOS</h4>
                    <p>Envío gratis en todos los pedidos superiores a $ 99.</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <i class="icon-us-dollar"></i>

                <div class="info-box-content">
                    <h4>GARANTÍA DE DEVOLUCIÓN DEL DINERO</h4>
                    <p>100% de garantía de devolución de dinero</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <i class="icon-support"></i>

                <div class="info-box-content">
                    <h4>SOPORTE EN LÍNEA 24/7</h4>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
        </div><!-- End .container -->
    </div><!-- End .info-boxes-container -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="home-slider owl-carousel owl-carousel-lazy owl-theme owl-theme-light">
                    <div class="home-slide">
                        <div class="owl-lazy slide-bg" data-src="/assets/images/banners/banner-top.jpg"></div>
                        <div class="home-slide-content text-white">
                            <h3> Obtenga hasta <span> 60% </span> de descuento </h3>
                            <h1>Venta de verano</h1>
                            <p>Artículos limitados disponibles a este precio.</p>
                            <a href="/productos" class="btn btn-dark">Compra ahora</a>
                        </div><!-- End .home-slide-content -->
                    </div><!-- End .home-slide -->

                </div><!-- End .home-slider -->


                <div class="mb-3"></div><!-- margin -->

                <h2 class="carousel-title">Productos Destacados</h2>

                <div class="home-featured-products owl-carousel owl-theme owl-dots-top">
                    {{#each productos}}
                    <div class="product-default">
                        <figure>
                            <a href="/productos/detalle/{{id}}">
                                <img src="/fotos/{{img}}">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="/productos/detalle/{{id}}">{{nombre}}</a>
                            </h2>
                            <div class="price-box">
                                <span class="product-price">${{precio}}</span>
                            </div><!-- End .price-box -->

                        </div><!-- End .product-details -->
                    </div>
                    {{/each }}


                </div><!-- End .featured-proucts -->


                <div class="mb-3"></div><!-- margin -->

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="feature-box feature-box-simple text-center">
                            <i class="icon-star"></i>

                            <div class="feature-box-content">
                                <h3>Servicio dedicado</h3>
                                <p>Consulte a nuestros especialistas para obtener ayuda con un pedido, personalización o
                                    asesoramiento de diseño.</p>
                            </div><!-- End .feature-box-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="feature-box feature-box-simple text-center">
                            <i class="icon-reply"></i>

                            <div class="feature-box-content">
                                <h3>Devoluciones gratis</h3>
                                <p>Respaldamos nuestros productos y servicios y queremos que esté satisfecho con ellos.
                                </p>
                            </div><!-- End .feature-box-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="feature-box feature-box-simple text-center">
                            <i class="icon-paper-plane"></i>

                            <div class="feature-box-content">
                                <h3>Envío internacional</h3>
                                <p>Actualmente más de 50 países califican para envíos internacionales urgentes.</p>
                            </div><!-- End .feature-box-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-9 -->


        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-4"></div><!-- margin -->
</main><!-- End .main -->