<main class="main">
    <div class="banner banner-cat" style="background-image: url('/assets/images/banners/banner-top.jpg');">
        <div class="banner-content container">
            <h2 class="banner-subtitle">Echa un vistazo a <span>200+</span></h2>
            <h1 class="banner-title">
                Ofertas increíbles
            </h1>
            <a href="#" class="btn btn-dark">Compra ahora</a>
        </div><!-- End .banner-content -->
    </div><!-- End .banner -->



    <div class="container mt-2">
        <form class="" action="/productos/" method="get">

            <nav class="toolbox">
                <div class="toolbox-left">
                    <div class="toolbox-item toolbox-sort">
                        <div class="select-custom">
                            <select name="categoria" class="form-control">
                                {{#each categorias}}
                                <option value="{{ id }}">
                                    {{ nombre }}
                                </option>
                                {{/each}}
                            </select>
                        </div><!-- End .select-custom -->

                    </div><!-- End .toolbox-item -->
                </div><!-- End .toolbox-left -->
                <button class="btn btn-sm" type="submit"><i class="icon-magnifier"></i></button>
            </nav>

        </form>


        <div class="row">
            <div class="col-lg-12">

                <div class="product-intro row row-sm">

                    <div class="home-featured-products owl-carousel owl-theme owl-dots-top">
                        {{#each productos}}
                        <div class="product-default">
                            <figure>
                                <a href="/productos/detalle/{{id}}">
                                    <img src="/fotos/{{img}}">
                                </a>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <span class="">{{categoria}}</span>

                                </div>
                                <h2 class="product-title">
                                    <a href="/productos/detalle/{{id}}">{{nombre}}</a>
                                </h2>

                                <p class="product-description">
                                    {{descripcion}}
                                </p>
                                <div class="price-box">
                                    <span class="product-price">${{precio}}</span>
                                </div><!-- End .price-box -->
                                <div class="product-action">
                                    <form class="form-inline" action="/carrito/add" method="get">
                                        <input type="hidden" name="producto" value="{{id}}" type="text">
                                        <input type="hidden" name="cantidad" value="1" type="text">

                                        <button class="paction add-cart" title="Añadir al carrito" type="submit">
                                            <span>Añadir al carrito</span>
                                        </button>
                                    </form>

                                </div>
                            </div><!-- End .product-details -->
                        </div>
                        {{/each }}


                    </div><!-- End .featured-proucts -->

                </div>

            </div><!-- End .col-lg-12 -->


        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->