{{#each usuarios }}
<!-- modal medium -->
<div class="modal fade" id="editarUsuario{{ id }}" tabindex="-1" role="dialog"
    aria-labelledby="editarUsuario{{ id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarUsuario{{ id }}">Editar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/auth/edit/{{ id }}" method="POST">

                <div class="modal-body row">

                    <div class="form-group col-12 col-md-6">
                        <label for="nombres" class=" form-control-label">Nombres</label>
                        <input type="text" name="nombres" id="nombres" placeholder="Nombres" value="{{ nombres }}"
                            class="form-control" autofocus required>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="apellidos" class=" form-control-label">Apellidos</label>
                        <input type="text" name="apellidos" value="{{ apellidos }}" id="apellidos"
                            placeholder="Apellidos" class="form-control" required>
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label for="email" class=" form-control-label">Correo electronico</label>
                        <input type="email" name="email" value="{{ email }}" id="email" placeholder="Correo electronico"
                            class="form-control" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- end modal medium -->

{{/each  }}